.datauser {
    color: white;
    font-weight: bold;
	margin-left: 120px;
}
.profiletitle{
	color: white;
	font-weight: bold;
	font-size: x-large;
	margin-bottom: 50px;
}

#konten {
  background: linear-gradient(45deg, #1de099, #1dc8cd);
  background-repeat: repeat-y;
}

td {
    padding: 10px;
}